.items-list{
    li{
        position: relative;
        list-style: none;

        a{
            @include transition(color, $smooth-transition-duration);

            color: #999;
            cursor: pointer;
            text-decoration: none;
        }

        &:after{
            @include transition(opacity, $smooth-transition-duration);
            content: "";
            opacity: 0;
        }

        &.active{
            a{
                color: rgb(250, 162, 5);
            }

            &:after{
                content: "";
                position: absolute;
                left: -8px;
                top: 0;
                height: 100%;
                width: 4px;
                background: rgb(250, 162, 5);
                opacity: 1;
            }
        }
    }
}