.selection-group{
    @include clearfix();

    >div {
        float: left;
    }

    input[type="radio"],
    input[type="checkbox"]{
        position: absolute;
        visibility: hidden;

        &:checked + label{
            color: #333333;
            background-color: #e6e6e6;
            border-color: #adadad;
        }

        &:disabled + label{
            background-color: white;
            border-color: #cccccc;
            cursor: not-allowed;
            pointer-events: none;
            opacity: 0.65;
            filter: alpha(opacity=65);
            -webkit-box-shadow: none;
            box-shadow: none;
        }
    }
}